{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="d-flex align-items-center min-vh-100 justify-content-center">
                    <div class="w-100 w-md-75 d-block bg-white shadow-lg rounded my-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center mb-5">
                                        <a href="#" style="width: 50; height: 50;" class="text-dark font-size-22 font-family-secondary">
                                            <h1>401</h1>
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <img src="assets/images/404-error.svg" alt="error" height="140">
                                        <h1 class="h4 mb-3 mt-4">Access Denied</h1>
                                        <p class="text-muted mb-4 w-75 m-auto">You Dont have permissions to access this resource</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

